* {
    list-style-type: none;
    text-decoration: none;
    padding: 0px;
    margin: 0px;
}

body {
    margin: 1px;
    background-color: rgb(255, 255, 255);
}

/*    
*   Estilo del login.
*/

.index {
    position: relative;
    width: 100%;
    height: 100%;
}

.login {
    background-color: black;
    opacity: 98%;
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1em;
    width: 300px;
}

/*
*    Layout general del sitio. 
*
*/

.conteiner, .main, .side, .wrapper, header, .title, .writer, .genre {
    display: flex;
}

header, .conteiner, .wrapper {
    flex-direction: row;
}

.main, .side, .writer, .genre {
    flex-direction: column;
}

header {
    width: -webkit-fill-available;
    justify-content: space-around;
    background: url(../img/headerbackground.png);
}

.conteiner {
    justify-content: center;
}

.main {
    opacity: 90%;
    padding: 0 2em;
    margin: 2px 0 2px 0;
    float: right;
}

.side {
    background-color: rgb(37, 37, 37);
    padding: 0 2em;
    margin: 2px 2px 2px 0;
    min-height: 500px;
}

.wrapper {
    padding: 1em;
}

.writer {
    margin-right: 1em;
    opacity: 90%;
}

.genre {
    border-left: 1px solid rgb(148, 148, 148);
}

/*
*   Estilo de elementos y clases en general.
*
*/

.side, header, input, button, .login, footer, select, textarea {
    border: 1px solid #008081;
    border-radius: 5px;
}

p {
    color: black;
}

h1, h1>a, h2>a, h2, input, button, figcaption, button>a, .writer>h3, .genre>h3, p>a, select {
    color: #008081;
}

article, footer, .error, .form-center, .subtitle, .login, .title-2, .title {
    text-align: center;
}

.title, .genre, header {
    align-items: center;
}

.main, .writer {
    width: 80%;
}

.side, .writer+div {
    width: 20%;
}

nav>ul>li>a, input, button>a, select, label, .login, textarea {
    color: rgb(202, 202, 202);
}

input, button, select, textarea {
    background-color: rgb(20, 20, 20);
    opacity: 90%;
    padding: 0.5em;
}

nav>ul {
    padding: 0.5em 0;
}

nav>ul>li {
    padding: 1em 0;
}

nav>ul>li>a {
    list-style-type: lower-roman;
}

article>p {
    font-size: 1.2em;
}

.details, .form-center {
    border-radius: 0.5em;
    border-right: solid rgb(148, 148, 148);
    border-top: 1px solid rgb(148, 148, 148);
    margin-top: 0.5em;
}

.writer>h3, .genre>h3 {
    text-decoration-line: underline;
}

p, .writer>h3, .genre>h3 {
    font-weight: bold;
    padding: 0 0 1em 0;
}

.form-center {
    width: 33%;
    margin-left: 1em;
}

h1 {
    font-size: 3em;
    font-family: monospace;
}

html {
    position: relative;
}

footer>h2 {
    padding-top: 7px;
}

footer {
    position: sticky;
    bottom: 0;
    width: -webkit-fill-available;
    height: 30px;
    background: url(../img/headerbackground.png);
}

.title {
    justify-content: center;
    width: 60%;
}

.subtitle {
  
    padding: 15px 0;
    border-bottom: 1px solid rgb(148, 148, 148);
}

.form-left-top, article {
    padding: 5px 0 5px 0;
}

.oculto {
    visibility: hidden;
    max-width: 20%;
}

@media(max-width:900px) {
    header {
        flex-direction: column;
    }
}