* {
    list-style-type: none;
    text-decoration: none;
    padding: 0px;
    margin: 0px;
}

body {
    margin: 10px;
    background-color: rgb(255, 236, 217);
    height: -webkit-fill-available;
}

/*    
*   Estilo del login.
*/

.index {
    position: relative;
    width: 100%;
    height: 100%;
}

.login {
    background-color: black;
    opacity: 98%;
    color: white;
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    width: 300px;
    text-align: center;
}

/*
*    Layout general del sitio. 
*
*
*/

.conteiner, .main, .side, .wrapper, header, .title, .writer, .genre {
    display: flex;
}

header {
    flex-direction: row;
    width: -webkit-fill-available;
    justify-content: space-around;
    align-items: center;
    background: url(../img/headerbackground.png);
}

.conteiner {
    flex-direction: row;
    justify-content: space-between;
    
}

.main {
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    padding: 0 2em ;
    margin: 2px 0 0 0;
   
}

.side {
    flex-direction: column;
    background-color: rgb(37, 37, 37);
    padding: 0 2em;
    margin: 2px 2px 0 0;
    min-height: 400px;
}

.wrapper {
  
    flex-direction: row;
    padding: 1em ;
    border-radius: 5px ;
    border-right: solid salmon;
    border-top: 1px solid salmon;
    margin-top: 5px;
}

.writer{
    flex-direction: column;
    margin-right: 10px;
}

.genre {
    flex-direction: column;
    align-items: center;
}
/*
*   Estilo de elementos y clases en general.
*
*
*/

.main, .side, header, input, button, .login {
    border: 1px solid #008081;
    border-radius: 5px;
}

h1,h1>a, h2, input, button {
    color: #008081;
}

.main, .writer {
    width: 80%;
}

.side, .writer+div {
    width: 20%;
}

h1 {
    font-size: 3em;
    font-family: monospace;
}


input, button {
    background-color: rgb(20, 20, 20);
    opacity: 90%;
    padding: 5px;
}

nav>ul {
    padding: 5px 0;
}

nav>ul>li {
    padding: 10px 0;
}

nav>ul>li>a {
    list-style-type: lower-roman;
    color: rgb(255, 236, 217);
}

.title {
    align-items: center;
}

.subtitle {
    text-align: center;
    margin-top: 20px;
    padding: 20px 0;
    border-top: 1px solid #008081;
    border-bottom: 1px solid #008081;
}
 
figcaption{
    color:#008081;
}

article{
    text-align: center;
}
article>p{
    font-size: 1.2em;
}
.writer>h3, .genre > h3{
    text-decoration-line: underline;
    font-style: oblique;
    font-weight: bold;
    padding: 0 0 10px 0;
    color: rgb(255, 50, 50);
}

.genre  {
    border-left: 1px solid rgb(255, 50, 50);
}

p{
    font-weight: bold;
    padding: 0 0 10px 0;
    color: rgb(252, 50, 50);
}
p>a { 
    color: #008081;
}


.subtitle1{
    text-align: center;
    margin-bottom: 1em;
}

.oculto {
    visibility: hidden;
}

@media(max-width:900px){
    header{
        flex-direction: column;
    }

}